
.main-content-anchor {
  display: grid;
  grid-template-columns: [left] 1fr [keyboard-left] 30em [keyboard-right] 0em [right];
  grid-template-rows: [top] 4em [credit-bottom] 1fr [keyboard-top] 8em [bottom-bar-top] 4em [bottom];
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 60em) {
  .main-content-anchor {
    grid-template-columns: [left] 1fr [keyboard-left] 30em [keyboard-right] 1fr [right];
  }
}

.main-text {
  grid-area: top / left / bottom / right;
  padding: 1em 1em 9em 1em;
  background: var(--plybrd-main-text-background);
  font-size: 2em;
  overflow-y: scroll;
  resize: none;
}

.bottom-bar {
  grid-area: bottom-bar-top / left / bottom / right;
  background-color: var(--plybrd-background-color);
  box-shadow: 0 0 20px 16px #0000001f;
}

.selector {
  grid-area: bottom-bar-top / left / bottom / keyboard-left;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 100ms;
}

.selector:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.language-name {
  font-weight: 800;
}

.language-subtitle {
  font-size: .8em;
}

.picker {
  grid-area: credit-bottom / left / bottom / keyboard-left;
  background-color: var(--plybrd-background-color);
  border-radius: .25em;
  box-shadow: 0 0 10px 8px #0000001f;
  overflow-x: hidden;
  overflow-y: scroll;
}

.layout-option {
  padding: .5em;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 100ms;
  cursor: pointer;
}

.layout-option:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.locale-name {
  opacity: 50%;
}

.credit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  padding: 1em;

  grid-area: top / keyboard-left / credit-bottom / right;
  opacity: 50%;
  justify-content: flex-end;

  color: var(--plybrd-foreground-color);
  text-decoration: none;
}

@media only screen and (min-width: 60em) {
  .credit {
    grid-area: bottom-bar-top / keyboard-right / bottom / right;
    opacity: 100%;
    justify-content: flex-start;
  }
}

.credit-repo-name {
  font-weight: 800;
}

.keyboard-display {
  grid-area: keyboard-top / keyboard-left / bottom / keyboard-right;
  background-color: var(--plybrd-background-color);
  border-radius: .25em;
  box-shadow: 0 0 10px 8px #0000001f;
}

.keyboard-grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.keyboard-key {
  margin: .1em;
  border-radius: .25em;

  color: var(--plybrd-foreground-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color ease-in-out 100ms, background-color ease-in-out 100ms;
  text-align: center;
}

.last-key {
  background-color: rgba(255, 255, 255, 0.2);
}

.pressed-key {
  background-color: rgba(255, 255, 255, 0.4);
}

.is-deadkey {
  color: rgba(0, 255, 0, 1.0);
}

.affected-by-deadkey {
  color: rgba(255, 0, 0, 1.0);
}
