
.main-content-anchor {
  display: grid;
  grid-template-columns: 1fr 30em 1fr;
  grid-template-rows: 1fr 8em 4em;
  width: 100vw;
  height: 100vh;
}

.main-text {
  overflow-y: scroll;
  resize: none;
  font-size: 2em;
  padding: 1em 1em 9em 1em;
  grid-area: 1 / 1 / 4 / 4;
}

.bottom-bar {
  grid-area: 3 / 1 / 4 / 4;
  background-color: var(--plybrd-background-color);
  box-shadow: 0 0 20px 16px #0000001f;
}

.selector {

}

.credit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  padding: 1em;

  grid-area: 3 / 3 / 4 / 4;

  color: var(--plybrd-foreground-color);
  text-decoration: none;
}

.credit-repo-name {
  font-weight: 800;
}

.keyboard-display {
  grid-area: 2 / 2 / 4 / 3;
  background-color: var(--plybrd-background-color);
  border-radius: .25em;
  box-shadow: 0 0 10px 8px #0000001f;
}
