
.main-content-anchor {
  display: grid;
  grid-template-columns: [left] 1fr [keyboard-left] 100vw [keyboard-right] 0em [right];
  grid-template-rows: [top] 4em [credit-bottom] 1fr [keyboard-top] 40vw [bottom-bar-top] 4em [bottom];
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 50em) {
  .main-content-anchor {
    grid-template-columns: [left] 1fr [keyboard-left] 30em [keyboard-right] 0em [right];
    grid-template-rows: [top] 4em [credit-bottom] 1fr [keyboard-top] 8em [bottom-bar-top] 4em [bottom];
  }
}

@media only screen and (min-width: 64em) {
  .main-content-anchor {
    grid-template-columns: [left] 1fr [keyboard-left] 30em [keyboard-right] 1fr [right];
  }
}

.main-text {
  grid-area: top / left / bottom / right;
  padding: 1em 1em 9em 1em;
  background: var(--plybrd-main-text-background);
  font-size: 2em;
  overflow-y: scroll;
  resize: none;
}

.bottom-bar {
  grid-area: bottom-bar-top / left / bottom / right;
  background-color: var(--plybrd-background-color);
  box-shadow: 0 0 20px 16px #0000001f;
}

.selector {
  grid-area: bottom-bar-top / left / bottom / keyboard-right;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 100ms;
}

.selector:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.language-name {
  font-weight: 800;
}

.language-subtitle {
  font-size: .8em;
}

.picker {
  grid-area: credit-bottom / left / bottom / keyboard-right;
  background-color: var(--plybrd-background-color);
  border-radius: .25em;
  box-shadow: 0 0 10px 8px #0000001f;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (min-width: 50em) {
  .selector {
    grid-area: bottom-bar-top / left / bottom / keyboard-left;
  }
  .picker {
    grid-area: credit-bottom / left / bottom / keyboard-left;
  }
}

.layout-option {
  padding: .5em;
  background-color: rgba(128, 128, 128, 0);
  transition: background-color ease-in-out 100ms;
  cursor: pointer;
}

.layout-option:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.locale-name {
  opacity: 50%;
}

.credit-anchor {
  grid-area: top / keyboard-left / credit-bottom / right;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.credit {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  padding: 1em;

  opacity: 50%;
  color: var(--plybrd-foreground-color);
  text-decoration: none;
}

@media only screen and (min-width: 64em) {
  .credit-anchor {
    grid-area: bottom-bar-top / keyboard-right / bottom / right;
    justify-content: flex-start;
  }
  .credit {
    opacity: 100%;
  }
}

.credit-repo-name {
  font-weight: 800;
}

.keyboard-display {
  grid-area: keyboard-top / keyboard-left / bottom-bar-top / keyboard-right;
  font-size: 3vw;
  background-color: var(--plybrd-background-keyboard);
  border-radius: .25em;
  box-shadow: 0 0 10px 8px #0000001f;
}

@media only screen and (min-width: 50em) {
  .keyboard-display {
    grid-area: keyboard-top / keyboard-left / bottom / keyboard-right;
    font-size: 1em;
  }
}

.keyboard-grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.keyboard-key {
  margin: .1em;
  border-radius: .25em;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  color: var(--plybrd-foreground-color);
  background-color: var(--plybrd-background-keys);
  transition: color ease-in-out 100ms, background-color ease-in-out 100ms;
  text-align: center;
}

.last-key {
  background-color: var(--plybrd-background-keys-pressed);
}

.pressed-key {
  color: var(--plybrd-foreground-keys-toggled);
  background-color: var(--plybrd-background-keys-toggled);
}

.is-deadkey {
  color: rgba(0, 255, 0, 1.0);
}

.affected-by-deadkey {
  color: rgba(255, 0, 0, 1.0);
}
